.btn--primary {
    width: 100%;
    max-width: 280px;
    border-radius: 200px;
    padding: 12px;

    background-color: #191919;
    color: #fff;

    font-weight: 600;
    
    @media (min-width: 992px) {
        font-size: 18px;
    }
    
    &:hover {
        background-color: #0a0a0a;
        color: #ddd;
    }
}